.flashes h4 {
    line-height: 2;
}

.parallax-container {
      height: 400px;
    }

.nav-wrapper {
    background-color: #C2B678;
    font-family: 'Archivo Black', sans-serif;
}

.how-it-works {
    background-color: #1a2017;
    color: #F7E93F;
}


.gallery-section {
    background-color: #1a2017;
}