.flashes h4 {
    line-height: 2;
}

/*---- index ---- */

.how-it-works {
    background-color: #1a2017;
    color: #C2B678;
}

.parallax-container {
    height: 400px;
}


/*---- navigation-stying ---- */

nav a.brand-logo {
    color: #1a2017;
    padding-left: 5%;
}

nav ul a {
    color: #1a2017;
}

nav i.material-icons {
    color: #1a2017;
}

nav i.material-icons:hover {
    color: #03B066;
}

.nav-wrapper {
    background-color: #C2B678;
    /* font-family: 'Archivo Black', sans-serif; */
    font-weight: 900;
}

.nav-wrapper>a:hover {
    color: #03B066;
}

.sidenav {
    background-color: #C2B678;
    font-family: 'Archivo Black', sans-serif;
}

.sidenav>li:hover,
nav ul a:hover {
    background-color: #F7E93F;
}

.logo-part-2 {
    transition: ease-out;
    transition-duration: .5s;
    transition-delay: .2s;
}


/*---- listings ---- */

.search-section {
    margin: 0%;
    background-color: #1a2017;
    padding-top: 10%;
    color: #C2B678;
    
}

.alert-text {
    color: #C33F8B;
    font-family: 'Archivo Black', sans-serif;
}

.affirmative-button {
    background-color: #03B066;
    color: #1a2017;
}

.cancel-button, .favourite-button {
    background-color: #C33F8B;
    color: #1a2017;
}

.listing-section {
    background-color: #1a2017;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.card-title {
    font-family: 'Archivo Black', sans-serif; 
    font-weight: 900;
}

/* .gallery-section.img {
    opacity: 0.7;
} */

/*---- sumbission form styling ---- */

.submit-btn {
    font-family: 'Archivo Black', sans-serif;
    font-weight: bold;
    background-color: #03B066;
    color: #1a2017;
}

.submit-btn:hover {
    background-color: #C2B678;
}

.submission-header {
    font-family: 'Permanent Marker', cursive;
}

.card-action {
    font-family: 'Archivo Black', sans-serif;
    font-weight: lighter;
    color: #C2B678;
}

.submission-form {
    background-color: rgba(247, 233, 63, 1);
    box-shadow: none;
    width: 100%;
}

.submission-icon {
    color: #1a2017;
}

.submission-icon:hover {
    color: #03B066;
}

.submit-section {
    margin-top: 10%;
    padding-bottom: 5%;
}

input[type='text'],
.input-field, .prefix.active {
    --color: #03B066;
    --active: #03B066;
    --border-hover: #03B066;
}

.input-field>label {
    color: #1a2017;
}

.input-field>label:hover {
    color: #C33F8B;
}

.login-link {
    padding-bottom: 10%;

}


.form-background {
    background-color: rgba(247, 233, 63, 1);
    margin: 0%;
}

/*---- login ---- */

.login-link>a {
    color: #1a2017;
    font-family: 'Permanent Marker', cursive;

}

.login-link>a:hover {
    color: #03B066;
}





/*---- footer ---- */

.footer-title {
    color: #1a2017;
    font-family: 'Archivo Black', sans-serif;
}

.page-footer {
    background-color: #C2B678;
    color: #1a2017;
    font-family: 'Archivo Black', sans-serif;
    padding-bottom: 5%;
}

.footer-copyright {
    background-color: #C2B678;
    font-weight: lighter;
    font-size: xx-small;
    color: #1a2017;
}