{% extends "base.html" %}
{% block content %}

<div class="row form-background">
    <form class="col s12 m6 offset-m3 " method="POST" action="{{ url_for('add_listing') }}">
        <div class="card submission-form">
            <div class="card-content center-align">
                <span class="submission-header">Add a Listing</span>
                </div>
            </div>
        <!--category selection-->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">business</i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Listing Type</option>
                    {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Listing Type</label>
            </div>
        </div>

                <!-- Place / Event Name input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">label</i>
                <textarea id="listing_name" name="listing_name" minlength="3" maxlength="20" class="materialize-textarea validate" required>Listing Name</textarea>
                <label for="listing_name">Listing Name</label>
            </div>
        </div>

        <!--facilities input-->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">local_cafe</i>
                <select multiple id="listing_facilities" name="listing_facilities" class="validate" required>
                    <option value="" disabled selected>Choose available facilities</option>
                    <option value="Accessible">Accessible</option>
                    <option value="Cafe">Cafe</option>
                    <option value="Toilets">Toilets</option>
                    <option value="Child Friendly">Child Friendly</option>
                    <option value="Guide Available">Guide Available</option>
                </select>
                <label for="listing_facilities">Facilities</label>
            </div>
        </div>

        <!-- Cost input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">attach_money</i>
                <select id="listing_cost" name="listing_cost" class="validate" required>
                    <option value="" disabled selected>Choose Cost Level</option>
                    <option value="FREE">FREE</option>
                    <option value="£">£</option>
                    <option value="££">££</option>
                    <option value="£££">£££</option>
                </select>
                <label for="listing_cost">Cost</label>
            </div>
        </div>

        <!-- Ratings input
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">star</i>
                <select id="listing_rating" name="listing_rating" class="validate" required>
                    <option value="" disabled selected>Rating</option>
                    <option value=1>1 Star</option>
                    <option value=2>2 Stars</option>
                    <option value=3>3 Stars</option>
                    <option value=4>4 Stars</option>
                    <option value=5>5 Stars</option>
                    <option value=6>6 Stars</option>
                </select>
                <label for="listing_rating">Rating</label>
            </div>
        </div> -->

        <!-- Place / Event City input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">location_city</i>
                <textarea id="listing_city" name="listing_city" minlength="3" maxlength="20" class="materialize-textarea validate" required>Place / Event City</textarea>
                <label for="listing_city">Place / Event City</label>
            </div>
        </div>


        <!-- Comments input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">insert_comment</i>
                <textarea id="listing_comments" name="listing_comments" minlength="10" maxlength="150" class="materialize-textarea validate" required>Write-up</textarea>
                <label for="listing_comments">Write-up</label>
            </div>
        </div>

        <!-- listing pic input -->
        <div class="row">
            <div class="input-field file-field col s10 push-s1">
                <i class="material-icons prefix submission-icon validate" required>add_a_photo</i>
                    <label for="listing_image">Listing image url</label>
                <input id="listing_image" name="listing_image" minlength="8" maxlength="250" type="text" class="validate">
                <!-- <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div> -->
            </div>
        </div>

         <!-- listing website input -->
        <div class="row">
            <div class="input-field file-field col s10 push-s1">
                <i class="material-icons prefix submission-icon validate" required>computer</i>
                    <label for="listing_website">Website url</label>
                <input id="listing_website" name="listing_website" minlength="8" maxlength="250" type="text" class="validate">
            </div>
        </div>

        <!-- listing map url input -->
        <div class="row">
            <div class="input-field file-field col s10 push-s1">
                <i class="material-icons prefix submission-icon validate" required>add_location</i>
                    <label for="listing_location">Location url</label>
                <input id="listing_location" name="listing_location" minlength="8" maxlength="250" type="text" class="validate">
            </div>
        </div>

        <!-- submit button -->
        <div class="row submit-section">
            <button class="col s6 btn offset-s3 submit-btn" type="submit">Add
                <i class="material-icons right">add</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}