{% extends "base.html" %}
{% block content %}

<div class="row form-background center-align">
    <form class="col s12 card submission-form" method="POST" action="{{ url_for('add_category') }}">
            <div class="card-content">
                <span class="submission-header"> Manage Categories </span>
            </div>
            
    

                <!-- Place / Event Name input -->
        <div class="row center-align">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix">collections_bookmark</i>
                <textarea id="category_name" name="category_name" type="text" minlength="3" maxlength="25" class="materialize-textarea validate" required></textarea>
                <label for="category_name">Category Name</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="row">
                <button href="{{ url_for('add_category') }}" class="col s6 btn offset-s3 submit-btn" type="submit">
                    Add Category <i class="material-icons right">add</i>
                </button>
        </div>

        <div class="row center-align">
        <blockquote class="admin-blockquote">
            "Art is not what you see, but what you make others see"
            <br>
            <br>
             - Edgar Degas
        </blockquote>
        </div>  
    </form>
</div>

{% endblock %}