{% extends "base.html" %}
{% block content %}

<div class="row form-background">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('edit_listing', listing_id=listing._id) }}">
        <div class="card submission-form">
            <div class="card-content center-align">
                <span class="submission-header">Edit Listing</span>
            </div>
        </div>
        <!--category selection-->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">business</i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" selected>Listing Type</option>
                    {% for category in categories %}
                    {% if category.category_name == listing.category_name %}
                    <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                    {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endif %}

                    {% endfor %}
                </select>
                <label for="category_name">Listing Type</label>
            </div>
        </div>

        <!-- Place / Event Name input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">label</i>
                <textarea id="listing_name" name="listing_name" class="materialize-textarea validate"
                    required>{{ listing.listing_name }}</textarea>
                <label for="listing_name">Place / Event Name</label>
            </div>
        </div>

        <!--facilities input-->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">local_cafe</i>
                <select multiple id="listing_facilities" name="listing_facilities" class="validate" required>
                    <option value="" disabled selected>Choose available facilities</option>
                    <option value="Accessible">Accessible</option>
                    <option value="Cafe">Cafe</option>
                    <option value="Toilets">Toilets</option>
                    <option value="Child Friendly">Child Friendly</option>
                    <option value="Guide Available">Guide Available</option>
                </select>
                <label for="listing_facilities">Facilities</label>
            </div>
        </div>

        <!-- Cost input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">attach_money</i>
                <select id="listing_cost" name="listing_cost" class="validate" required>
                    <option value="" disabled selected>Choose Cost Level</option>
                    <option value="FREE">FREE</option>
                    <option value="£">£</option>
                    <option value="££">££</option>
                    <option value="£££">£££</option>
                </select>
                <label for="listing_cost">Cost</label>
            </div>
        </div>



        <!-- Place / Event City input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">location_city</i>
                <textarea id="listing_city" name="listing_city" class="materialize-textarea validate"
                    required>{{ listing.listing_city }}</textarea>
                <label for="listing_city">Place / Event City</label>
            </div>
        </div>


        <!-- Comments input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">insert_comment</i>
                <textarea id="listing_comments" name="listing_comments" class="materialize-textarea validate"
                    required>{{ listing.listing_comments }}</textarea>
                <label for="listing_comments">Write-up</label>
            </div>
        </div>

        <!-- listing pic input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon">add_a_photo</i>
                <input id="listing_image" name="listing_image" minlength="8" maxlength="250" type="text"
                    class="validate" required>
                <label for="listing_image">Listing image url</label>
            </div>
        </div>

        <!-- listing website input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon validate" required>computer</i>
                <input id="listing_website" name="listing_website" minlength="8" maxlength="250" class="validate"
                    required>
                <label for="listing_website">Website url</label>
            </div>
        </div>

        <!-- listing map url input -->
        <div class="row">
            <div class="input-field col s10 push-s1">
                <i class="material-icons prefix submission-icon validate" required>add_location</i>
                <input {{ listing.listing_location }} id="listing_location" name="listing_location" minlength="8"
                    maxlength="250" type="text" class="validate" required>
                <label for="listing_location">Location url</label>
            </div>
        </div>

        <!-- submit button -->
        <div class="row center-align">
            <div class="col center-align">
                <a href="{{ url_for('get_listings') }}" class="btn cancel-button"> Cancel <i
                        class="material-icons right submission-icon">clear</i></a>
                <a href="{{ url_for('get_listings') }}" class="btn affirmative-button center-align" type="submit">Save
                    Changes
                    <i class="material-icons right submission-icon">mode_edit</i>
                </a>
                <a href="#{{ listing.id }}delete-confirmation" class="btn delete-button modal-trigger"> Delete<i
                    class="material-icons right submission-icon">delete</i>
                </a>
                <!-- delete confirmation modal -->
                <div id="{{ listing.id }}delete-confirmation" class="modal">
                    <div class="modal-content">
                        <h4>Delete listing</h4>
                        <p>Are you sure?</p>
                        <blockquote class="blockquote-small"> “If you’re brave enough to say goodbye, life will reward you with a new
                            hello.”
                            <br>
                            <br>
                            – Paulo Coelho </blockquote>
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('get_listings') }}" class="btn cancel-button"> Cancel <i
                        class="material-icons right submission-icon">clear</i></a>
                        <a href="{{ url_for('delete_listing', listing_id=listing._id) }}" class="btn delete-button">
                            Delete<i class="material-icons right submission-icon">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}