{% extends "base.html" %}
{% block content %}


<div class="row gallery-section">
    {% for gallery in galleries %}
    <div class="col s12 m4 gallery-card">
        <div class="card ">
            <div class="card-image">
                <img class="responsive" src="{{ gallery.gallery_image }}" alt="">
                <span class="card-title">{{ gallery.gallery_name }}</span>
                <a href="{{ url_for('edit_recommendation', gallery_id=gallery._id)}}"class="btn-floating btn-small halfway-fab waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
            </div>
            
            <div class="card-content">
                    <ul>
                        <li><strong>{{ gallery.gallery_city }}</strong></li>
                        <li>Rating: {{ gallery.gallery_rating }}</li>
                            <li>Facilities: {% for facility in gallery.gallery_facilities %}
                                <span>{{ facility }},</span>
                            {% endfor %}</li>

                        <li>Cost: {{ gallery.gallery_cost }}</li>
                        <li>Comments: {{ gallery.gallery_comments }}</li><br>
                        <p><em>created by: {{ gallery.created_by }}</em></p>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}