{% extends "base.html" %}
{% block content %}
<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('join') }}">
        <div class="card grey darken-4">
            <div class="card-content yellow-text text-accent-3">
                <span class="card-title">Join Our Community</span>
                <p></p>
            </div>
            
            <!-- username input -->
            <div class="row">
                <div class="input-field col s10 push-s1">
                    <i class="material-icons prefix yellow-text text-accent-3 ">account_circle</i>
                    <input id="user_name" name="user_name" type="text" class="validate" autocomplete="username">
                    <label for="user_name">Username</label>
                </div>
            </div>
            <!-- email input -->
            <div class="row">
                <div class="input-field col s10 push-s1">
                    <i class="material-icons prefix yellow-text text-accent-3">email</i>
                    <input id="user_email" name="user_email" type="email" class="validate">
                    <label for="user_email">Email</label>
                </div>
            </div>
            <!-- password input -->
            <div class="row">
                <div class="input-field col s10 push-s1">
                    <i class="material-icons prefix yellow-text text-accent-3">lock</i>
                    <input id="user_password" name="user_password" type="password" class="validate" autocomplete="new-password">
                    <label for="user_password">Password</label>
                </div>
            </div> 
            <!-- bio input -->
            <div class="row">
                <div class="input-field col s10 push-s1">
                    <i class="material-icons prefix yellow-text text-accent-3">face</i>
                    <textarea id="user_bio" name="user_bio" class="materialize-textarea validate"></textarea>
                    <label for="user_bio">Bio</label>
                </div>
            </div>
            <!-- profile pic input -->
            <div class="row">
            <div class="file-field input-field col s10 push-s1">
                    <span><i class="material-icons yellow-text text-accent-3">add_a_photo</i><label for="user_avatar">Upload Profile Pic
                    </label></span>
                    
                    <input id="user_avatar" name="user_avatar" type="file">
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                    
                </div>
            </div>
            
            <!-- submit button -->    
                <div class="row">
                    <button class="col s6 btn yellow accent-4 offset-s3" type="submit" name="action">Submit
                        <i class="material-icons right grey-text text-darken-3">send</i>
                    </button>
                </div>
            

            <div class="card-action">
                <a href="{{ url_for('login') }}">Already a user? Log in here</a>
            </div>
            </div>
        </div>
    </form>
    
</div>
{% endblock %}