{% extends "base.html" %}
{% block content %}
<div class="row">
    <form class="col s12 m6 offset-m3" method="POST" action="{{ url_for('login') }}">
        <div class="card grey darken-4">
            <div class="card-content yellow-text text-accent-3">
                <span class="card-title">Log In</span>
                <p></p>
            </div>
            
            <!-- username input -->
            <div class="row">
                <div class="input-field col s10 push-s1">
                    <i class="material-icons prefix yellow-text text-accent-3 ">account_circle</i>
                    <input id="username" name="username" type="text" class="validate" autocomplete="username">
                    <label for="username">Username</label>
                </div>
            </div>
            
            <!-- password input -->
            <div class="row">
                <div class="input-field col s10 push-s1">
                    <i class="material-icons prefix yellow-text text-accent-3">lock</i>
                    <input id="password" name="password" type="password" class="validate" autocomplete="new-password">
                    <label for="password">Password</label>
                </div>
            </div> 
            
            <!-- submit button -->    
                <div class="row">
                    <button class="col s6 btn yellow accent-4 offset-s3" type="submit" name="action">Log In
                        <i class="material-icons right grey-text text-darken-3">chevron_right</i>
                    </button>
                </div>
            
             <!-- redirect option for new user --> 
            <div class="card-action">
                <a href="{{ url_for('join') }}"> New User? Join our community here</a>
            </div>
            </div>
        </div>
    </form>
    
</div>
{% endblock %}